@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: green;
  display: flex;
  justify-content: center;
  position: relative;
}
.card {
  background-color: white;
  width: 300px;
  height: 500px;
  border-radius: 5%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.card-face {
  background-color: white;
  font-size: 120px;
  font-family: "Playfair Display", serif;
  color: black;
  height: 300px;
  padding-top: 20px;
  text-align: center;
}
.top-left {
  padding-left: 15px;
  height: 120px;
  align-self: flex-start;
  font-size: 100px;
}

.bottom-right {
  align-self: flex-end;
  height: 120px;
  transform: rotate(180deg);
  padding-bottom: 0px;
  padding-left: 15px;
  padding-right: 20px;
  font-size: 100px;
}

.newCard {
  padding: 30px;
}
